.main-banner {
  height: 50vh;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  text: center;
}
